extends layout

block content
  h1 TDF Email Bot
  p.lead Send emails onclicks
  hr
  .row
    .col-md-6
      h2 Instructions   
      p Configure the button below to trigger an api request with the email system.
      p
        a(href='/api/sendgrid', style='color: #fff')
          .card(style='background-color: #fff').mb-3
            .card-body
              img(src='https://www.evernote.com/l/AB7gRMbzVrlFlbg5H_Poylv7FFTft1J1OQMB/image.png', height=40)
